<main class="full-screen-container" fxLayoutGap="2rem" fxLayout="column">
  <form [formGroup]="placeSearchForm" 
        fxLayout="row wrap"
        fxLayoutGap="5px"
        fxLayoutAlign="start center">
    <mat-form-field appearance="outline">
      <mat-label>Longitude</mat-label>
      <input matInput type="number" formControlName="long">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Latitude</mat-label>
      <input matInput type="number" formControlName="lat">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Radius (meters)</mat-label>
      <input matInput type="number" formControlName="radius">
    </mat-form-field>

    <button fxFlex="nogrow" mat-raised-button color="primary" (click)="findPlaces()">Search</button>
    <button mat-raised-button color="primary" (click)="useCurrentLocation()">Use Current Location</button>
    
    <mat-divider></mat-divider>
  </form>

  <div fxFlex="grow" fxLayout="row" fxLayoutGap="2rem" fxLayoutAlign="start stretch">
    <!-- list of place cards -->
    <div style="overflow: scroll" fxFlex="300px" fxLayout="column" fxLayoutGap="1rem">
      <mat-card *ngFor="let place of places | async" style="width: 100%; margin: 1rem;">
        <mat-card-header>
          <div mat-card-avatar style="width: 25%">
            <img style="max-height: 100%" src="{{ getPhoto(place.getPhotoRef()) }}">
          </div>
          <mat-card-title>{{place.getName()}}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <mat-chip-list>
                <mat-chip color="accent" selected *ngFor="let type of place.getTypes()">{{type}}</mat-chip>
              </mat-chip-list>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>SAVE</button>
        </mat-card-actions>
      </mat-card>
    </div>

    <!-- map -->
    <div fxFlex="grow">
      <agm-map [zoom]="15" [latitude]="lat" [longitude]="long">
        <agm-marker [latitude]="lat" [longitude]="long"></agm-marker>
        <agm-marker *ngFor="let place of places | async"
          [latitude]="place.getLat()" 
          [longitude]="place.getLong()">
        </agm-marker>
      </agm-map>
    </div>

  </div>
</main>