/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body {
    margin: 0;
    background: rgba(245, 245, 245, 1);
}

* {
    box-sizing: border-box;
}

.fx-container {
  margin-right: auto;
  margin-left: auto;
  padding: 0 1rem;
  width: 100%;
}
/*xs*/
@media (min-width: 599px) { .fx-container {padding: 0 2rem} }
/*sm*/
@media (min-width: 959px) { .fx-container {padding: 0 3rem;}  }
/*md*/
@media (min-width: 1279px) { .fx-container {padding: 0 4rem;} }
/*lg*/
@media (min-width: 1919px) { .fx-container {padding: 0 6rem;} }

.center { margin: 0 auto }

.compensate-nav { padding-top: 64px }
.full-screen-container {
    margin-top: -64px; 
    width: 100vw; 
    height: 100vh;
    padding-top: 6rem; 
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 2rem;
}

@media (max-width: 599px) {
    .full-screen-container {
        margin-top: -64px;
        padding-top: 5rem; 
        padding-left: 1rem;
        padding-right: 1rem;
        padding-bottom: 1rem;
    }
}

/* 
    UTILITIES
*/

.mt-2 { margin-top: 2rem }

/*
    ANGULAR MATERIAL OVERRIDES
*/
/* .mat-form-field { width: 100% } */
.mat-chip { font-size: 0.7rem }
.mat-card-header {
    background-size: cover;
    background-position: center;
    height: 200px;
    width: 100%;
}

.mat-card { padding: 10px !important }
.mat-card-title { margin: 10px 0 !important }
.mat-card-actions { margin-bottom: 0 !important }
.mat-card-content { margin-bottom: 0 !important }